<form action="/articles" method="post" accept-charset="utf-8">
	<p>Title: <input type="text" name="article[title]" value="" id="article[title]" /></p>
	<p>Content: <textarea name="article[content]" rows="3" cols="40"></textarea></p>
	<p><input type="submit" value="Add article" /></p>
</form>